body {
    margin: 30px;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    cursor: pointer;
}

.App-logo-no-click {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.App-text {
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button:focus {outline:0;}

button {
    height: 30px;
    cursor: pointer;
    font-family: 'Marvel';


    background-color: transparent;
    color: #fefbef;
    font-weight: 600;
    line-height: 1;
    transition: background-color 300ms, border-color 300ms, box-shadow 150ms;
    width: 20%;


    min-width: 10rem;
    border-radius: 0.75rem;
    font-size: 1.2em;
    letter-spacing: 1px;
    min-height: 3rem;

    color: #ff4136;
    border: 3px solid #ff4136;
    margin: 5px;
}

button:hover {
    background-color: #ff4136; /* Green */
    color: white;
    /*height: 58px;*/
    /*width: 22%;*/
    /*margin-top: 10px;*/
    /*transform: scale(1.1);*/
}
