.map {
    margin: auto;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    table-layout: fixed;
}

.square-holder {
    height: 36px;
    width: 36px;
    border: 0.5px solid #aaaaaa;
    background-color: black;
}


.square {
    padding: 1px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: auto;
}

.highlighted {
    height: 33px;
    width: 33px;
    border: 2px solid white;
}


/*table {*/
    /*table-layout: fixed;*/
/*}*/
/*td {*/
    /*width: 40px;*/
    /*height: 40px;*/
/*}*/