.map {
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    table-layout: fixed;
}

.square-holder {
    height: 36px;
    width: 36px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
}


.square {
    padding: 1px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: auto;
}

.highlighted {
    height: 33px;
    width: 33px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}


/*table {*/
    /*table-layout: fixed;*/
/*}*/
/*td {*/
    /*width: 40px;*/
    /*height: 40px;*/
/*}*/