.lobby-title {
    text-align: center;
    color: white;
    margin-bottom:8px;
}

.ready-up-button {
    font-size: 0.8em;
    min-height: 10px;
    min-width: 15px;
    border-width: 1px;
    width: 100%;
}

.ready-up-button-active {
    font-size: 0.8em;
    min-height: 10px;
    min-width: 15px;
    border-width: 1px;
    width: 100%;
    background-color: #ff4136;
    color: white;
}

.lobby-player-table {
    margin: auto;
    margin-top: 40px;
}

.lobby-display-name{

}

#gameTypeButton{
    font-size: 0.8em;
    min-height: 10px;
    min-width: 15px;
    border-width: 1px;
    width: 40%;
}