.icon {
    pointer-events: none;
}

.overlay-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.overlay-component {
    position: absolute;
}

.blinking{
    border-width: 0px;
    animation: blink .5s step-end infinite alternate; ;
}

@keyframes blink {
    50% {
        border-width: 0px;
    }
}